Repository charles-adedotun/kubepulse, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, ai, kubernetes, documentation, tests, configuration, api, core, cli, health, websocket, database, security

fix: resolve workflow syntax errors in PR checks
  .github/workflows/pr-checks.yml
Labels: kubernetes, configuration

Claude PR Assistant workflow
  .github/workflows/claude.yml
Labels: kubernetes, configuration

Claude Code Review workflow
  .github/workflows/claude-code-review.yml
Labels: kubernetes, configuration

docs: trigger CI with claude token available
  .github/WORKFLOWS.md
Labels: documentation, configuration

fix: address security vulnerabilities and code quality issues
  frontend/src/hooks/useWebSocket.ts
  pkg/ai/client.go
  pkg/ai/kubectl_executor.go
Labels: backend, frontend, ai, websocket

fix: resolve all CI test failures and lint issues
  .github/workflows/go-ci.yml
  .github/workflows/pr-checks.yml
  SECURITY_FIXES.md
  cmd/kubepulse/commands/diagnose.go
  cmd/kubepulse/commands/root.go
  cmd/kubepulse/commands/serve.go
  deployments/kubernetes/README.md
  deployments/kubernetes/deployment.yaml
  deployments/kubernetes/rbac.yaml
  deployments/kubernetes/secrets-template.yaml
  internal/config/config.go
  pkg/ai/analysis_engine.go
  pkg/ai/circuit_breaker.go
  pkg/ai/circuit_breaker_test.go
  pkg/ai/client.go
  pkg/ai/client_test.go
  pkg/ai/context_aware_client.go
  pkg/ai/context_manager.go
  pkg/ai/database.go
  pkg/ai/database_types.go
  pkg/ai/executor.go
  pkg/ai/kubectl_executor.go
  pkg/ai/kubectl_executor_test.go
  pkg/ai/kubectl_tools.go
  pkg/ai/prompt_builder.go
  pkg/ai/scheduler.go
  pkg/ai/types.go
  pkg/api/server.go
  pkg/api/server_test.go
  pkg/core/engine.go
  pkg/core/engine_test.go
  pkg/health/pod_check.go
  pkg/k8s/context.go
  pkg/k8s/context_test.go
  pkg/k8s/interfaces.go
  test/integration/context_integration_test.go
Labels: backend, ai, kubernetes, documentation, tests, configuration, api, core, cli, health, database

fix: resolve nil pointer in TestErrorPropagation test
  pkg/core/engine_test.go
Labels: backend, tests, core

fix: resolve k8s context connection timeout and build errors
  pkg/k8s/context.go
Labels: backend

feat: add minimal CI workflow for working packages
  .github/workflows/minimal-ci.yml
Labels: kubernetes, configuration

fix: resolve gofmt formatting issues and CI action reference
  .github/workflows/minimal-ci.yml
  cmd/kubepulse/commands/root.go
  cmd/kubepulse/commands/serve.go
  coverage.txt
  internal/config/config.go
  pkg/api/server.go
  pkg/core/engine.go
  pkg/k8s/context.go
Labels: backend, kubernetes, configuration, api, core, cli

fix: add missing writeError method and resolve variable redeclaration
  cmd/kubepulse/commands/serve.go
  pkg/api/server.go
Labels: backend, api, cli

fix: address unused variable warning in context switch handler
  pkg/api/server.go
Labels: backend, api

fix: resolve staticcheck empty branch warning
  pkg/k8s/context.go
Labels: backend

refactor: remove redundant and failing CI workflows
  .github/workflows/docker.yml
  .github/workflows/go-ci.yml
Labels: kubernetes, configuration

feat: implement Phase 2 Claude Code integration and decision matrix
  .github/CI-README.md
  .github/scripts/claude-review.sh
  .github/scripts/pr-decision-matrix.sh
  .github/workflows/minimal-ci.yml
Labels: kubernetes, documentation, configuration

feat: implement Phase 2 Claude Code integration and decision matrix (#5)
  .github/CI-README.md
  .github/scripts/claude-review.sh
  .github/scripts/pr-decision-matrix.sh
  .github/workflows/minimal-ci.yml
Labels: kubernetes, documentation, configuration

feat: Phase 3 - Expand test coverage with integration tests
  .github/CI-README.md
  .github/workflows/minimal-ci.yml
  test/integration/basic_integration_test.go
Labels: backend, kubernetes, documentation, tests, configuration

feat: Phase 3 - Expand test coverage with integration tests (#6)
  .github/CI-README.md
  .github/workflows/minimal-ci.yml
  test/integration/basic_integration_test.go
Labels: backend, kubernetes, documentation, tests, configuration

Claude PR Assistant workflow
  .github/workflows/claude.yml
Labels: kubernetes, configuration

Claude Code Review workflow
  .github/workflows/claude-code-review.yml
Labels: kubernetes, configuration

Add Claude Code GitHub Workflow (#7)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Labels: kubernetes, configuration

feat: Phase 4 - External Tool Integration & Advanced Security
  .github/CI-README.md
  .github/workflows/minimal-ci.yml
  .github/workflows/performance.yml
  .github/workflows/security-scan.yml
  test/integration/benchmark_test.go
Labels: backend, kubernetes, documentation, tests, configuration, security

fix: update security workflow with correct gosec and nancy installation
  .github/workflows/security-scan.yml
Labels: kubernetes, configuration, security

Phase 4: External Tool Integration & Enterprise Security (#8)
  .github/CI-README.md
  .github/workflows/minimal-ci.yml
  .github/workflows/performance.yml
  .github/workflows/security-scan.yml
  test/integration/benchmark_test.go
Labels: backend, kubernetes, documentation, tests, configuration, security

fix: improve security workflow reliability with better error handling
  .github/workflows/security-scan.yml
Labels: kubernetes, configuration, security

fix: improve security workflow reliability with better error handling (#9)
  .github/workflows/security-scan.yml
Labels: kubernetes, configuration, security

Phase 5: Add deployment automation and release management
  .github/workflows/deploy.yml
  .github/workflows/release.yml
  Dockerfile
  deploy/kubernetes/base/deployment.yaml
  deploy/kubernetes/base/service.yaml
  deploy/kubernetes/production/deployment-patch.yaml
  deploy/kubernetes/production/kustomization.yaml
  deploy/kubernetes/production/service-patch.yaml
  deploy/kubernetes/staging/deployment-patch.yaml
  deploy/kubernetes/staging/kustomization.yaml
  deploy/kubernetes/staging/service-patch.yaml
Labels: kubernetes, configuration

fix: resolve Docker tag formatting issue
  .github/workflows/deploy.yml
Labels: kubernetes, configuration

fix: resolve frontend TypeScript build errors
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/dashboard/ContextSelector.tsx
  frontend/src/config/index.ts
Labels: frontend

fix: update App.tsx to use correct config.ui.features path
  frontend/src/App.tsx
Labels: frontend

fix: resolve rollup npm dependency issue in Docker build
  Dockerfile
Labels: kubernetes

fix: resolve npm rollup dependency issue in CI
  .github/workflows/frontend-ci.yml
Labels: kubernetes, configuration

fix: optimize Docker build for PRs with single platform
  .github/workflows/deploy.yml
Labels: kubernetes, configuration

feat: add basic tests to improve code coverage
  coverage-new.txt
  coverage.txt
  pkg/alerts/types_test.go
  pkg/core/errors_test.go
  pkg/core/types_test.go
  test/integration/basic_integration_test.go
  test/integration/benchmark_test.go
Labels: backend, tests, core

feat: add basic tests to improve code coverage (#11)
  coverage-new.txt
  coverage.txt
  pkg/alerts/types_test.go
  pkg/core/errors_test.go
  pkg/core/types_test.go
  test/integration/basic_integration_test.go
  test/integration/benchmark_test.go
Labels: backend, tests, core

feat: add SLO tests and fix slice bounds bug
  coverage.txt
  pkg/alerts/types_test.go
  pkg/core/errors_test.go
  pkg/core/types_test.go
  pkg/slo/tracker.go
  pkg/slo/tracker_test.go
  pkg/slo/types_test.go
Labels: backend, tests, core

fix: resolve staticcheck nil pointer dereference warnings in tests
  pkg/slo/tracker_test.go
Labels: backend, tests

Simple: Add SLO tests and fix slice bounds bug (#12)
  coverage.txt
  pkg/alerts/types_test.go
  pkg/core/errors_test.go
  pkg/core/types_test.go
  pkg/slo/tracker.go
  pkg/slo/tracker_test.go
  pkg/slo/types_test.go
Labels: backend, tests, core

feat: add comprehensive tests for pkg/health package
  coverage.txt
  pkg/health/node_check_test.go
  pkg/health/pod_check_test.go
  pkg/health/service_check_test.go
  pkg/slo/tracker_test.go
  pkg/slo/types_test.go
Labels: backend, tests, health

feat: add comprehensive tests for pkg/health package (#13)
  coverage.txt
  pkg/health/node_check_test.go
  pkg/health/pod_check_test.go
  pkg/health/service_check_test.go
  pkg/slo/tracker_test.go
  pkg/slo/types_test.go
Labels: backend, tests, health

.github/labeler.yml:

# Label configuration for PR auto-labeling

# Backend changes
backend:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.go'
      - 'go.mod'
      - 'go.sum'

# Frontend changes
frontend:
  - changed-files:
    - any-glob-to-any-file:
      - 'frontend/**/*'
      - 'package.json'
      - 'package-lock.json'

# AI-related changes
ai:
  - changed-files:
    - any-glob-to-any-file:
      - 'pkg/ai/**/*'
      - 'internal/ai/**/*'

# Kubernetes/deployment changes
kubernetes:
  - changed-files:
    - any-glob-to-any-file:
      - 'deployments/**/*'
      - '**/*.yaml'
      - '**/*.yml'
      - '**/Dockerfile*'

# Documentation changes
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - '**/*.MD'
      - 'docs/**/*'

# Test changes
tests:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*_test.go'
      - '**/*.test.ts'
      - '**/*.test.tsx'
      - '**/*.spec.ts'
      - '**/*.spec.tsx'
      - '**/testdata/**/*'

# Configuration changes
configuration:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*'
      - '.*rc'
      - '.*config*'
      - 'config/**/*'

# API changes
api:
  - changed-files:
    - any-glob-to-any-file:
      - 'pkg/api/**/*'
      - 'internal/api/**/*'
      - '**/handlers.go'
      - '**/routes.go'

# Core engine changes
core:
  - changed-files:
    - any-glob-to-any-file:
      - 'pkg/core/**/*'
      - 'internal/core/**/*'
      - 'pkg/engine/**/*'

# CLI changes
cli:
  - changed-files:
    - any-glob-to-any-file:
      - 'cmd/**/*'
      - 'internal/cli/**/*'

# Health check changes
health:
  - changed-files:
    - any-glob-to-any-file:
      - 'pkg/health/**/*'
      - 'pkg/checks/**/*'
      - 'internal/health/**/*'

# WebSocket changes
websocket:
  - changed-files:
    - any-glob-to-any-file:
      - '**/websocket*.go'
      - '**/ws*.go'
      - 'frontend/src/hooks/useWebSocket.ts'

# Database changes
database:
  - changed-files:
    - any-glob-to-any-file:
      - '**/database*.go'
      - '**/db*.go'
      - '**/*.sql'
      - 'migrations/**/*'

# Security changes
security:
  - changed-files:
    - any-glob-to-any-file:
      - '**/auth*.go'
      - '**/security*.go'
      - '**/rbac*.go'
      - '.github/workflows/*security*'
