Repository charles-adedotun/kubepulse, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, ai, kubernetes, documentation, tests, configuration, api, core, cli, health, websocket, database, security

feat: add comprehensive tests for pkg/ml package
  coverage.txt
  pkg/ml/anomaly_test.go
  pkg/ml/types_test.go
Labels: backend, tests

feat: add comprehensive tests for pkg/ml package (#14)
  coverage.txt
  pkg/ml/anomaly_test.go
  pkg/ml/types_test.go
Labels: backend, tests

feat: add comprehensive tests for pkg/k8s package
  coverage.txt
  pkg/k8s/context_test.go
Labels: backend, tests

feat: add comprehensive tests for pkg/k8s package (#15)
  coverage.txt
  pkg/k8s/context_test.go
Labels: backend, tests

feat: add comprehensive tests for pkg/plugins package
  coverage.txt
  pkg/plugins/registry_test.go
Labels: backend, tests

feat: add comprehensive tests for pkg/plugins package (#16)
  coverage.txt
  pkg/plugins/registry_test.go
Labels: backend, tests

feat: add comprehensive tests for pkg/alerts package
  coverage.txt
  pkg/alerts/manager_test.go
Labels: backend, tests

feat: add comprehensive tests for pkg/alerts package (#17)
  coverage.txt
  pkg/alerts/manager_test.go
Labels: backend, tests

Add comprehensive tests for pkg/api server utilities
  pkg/api/server_test.go
Labels: backend, tests, api

Add comprehensive tests for pkg/api server utilities (#18)
  pkg/api/server_test.go
Labels: backend, tests, api

Add comprehensive tests for internal/config package
  internal/config/config_test.go
Labels: backend, tests

Add comprehensive tests for internal/config package (#19)
  internal/config/config_test.go
Labels: backend, tests

Add comprehensive tests for pkg/ai types and circuit breaker
  pkg/ai/circuit_breaker_test.go
  pkg/ai/types_test.go
Labels: backend, ai, tests

test: update coverage reports for ai package tests
  coverage.txt
  coverage_ai.txt
  coverage_api.txt
  coverage_config.txt
Labels: none

Add comprehensive tests for pkg/ai types and circuit breaker (#20)
  coverage.txt
  coverage_ai.txt
  coverage_api.txt
  coverage_config.txt
  pkg/ai/circuit_breaker_test.go
  pkg/ai/types_test.go
Labels: backend, ai, tests

test: add comprehensive main function tests with subprocess validation
  cmd/kubepulse/main_test.go
  coverage_main.txt
Labels: backend, tests, cli

test: update coverage data for circuit breaker tests
  coverage.txt
Labels: none

test: add comprehensive main function tests with subprocess validation (#21)
  cmd/kubepulse/main_test.go
  coverage.txt
  coverage_main.txt
Labels: backend, tests, cli

test: add comprehensive root command tests for commands package
  cmd/kubepulse/commands/root_test.go
  coverage_commands.txt
Labels: backend, tests, cli

test: add comprehensive root command tests for commands package (#22)
  cmd/kubepulse/commands/root_test.go
  coverage_commands.txt
Labels: backend, tests, cli

feat: implement comprehensive AI-powered GitHub Actions workflows
  .github/README.md
  .github/scripts/generate-merge-prompt.sh
  .github/scripts/generate-todo-list.sh
  .github/workflows/ci.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  .github/workflows/merge-decision.yml
  test/manifests/kind-config.yaml
Labels: kubernetes, documentation, configuration

fix: resolve failing tests and frontend build issues
  cmd/kubepulse/commands/root_test.go
  cmd/kubepulse/main_test.go
  coverage.txt
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/dashboard/ContextSelector.tsx
  frontend/src/hooks/useRuntimeConfig.ts
  frontend/tsconfig.app.json
  frontend/tsconfig.node.json
  internal/config/config_test.go
  pkg/ai/circuit_breaker_test.go
  pkg/ai/types_test.go
  pkg/api/server_test.go
Labels: backend, frontend, ai, tests, api, cli

feat: add claude ai configuration and deployment setup
  .claude/agents/backend-developer.md
  .claude/agents/frontend-developer.md
  .claude/agents/pre-commit-reviewer.md
  .claude/hooks/pre-commit-review.sh
  .claude/settings.json
  deploy/kubernetes/base/deployment.yaml
  deploy/kubernetes/base/service.yaml
  deploy/kubernetes/production/deployment-patch.yaml
  deploy/kubernetes/production/kustomization.yaml
  deploy/kubernetes/production/service-patch.yaml
  deploy/kubernetes/staging/deployment-patch.yaml
  deploy/kubernetes/staging/kustomization.yaml
  deploy/kubernetes/staging/service-patch.yaml
Labels: kubernetes, documentation

fix: resolve TypeScript errors and CI security scan issues
  .github/workflows/ci.yml
  frontend/src/App.tsx
  frontend/src/components/dashboard/PredictiveAnalytics.tsx
  frontend/src/components/layout/Header.tsx
  frontend/src/components/ui/badge.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/config/index.ts
  frontend/src/hooks/useWebSocket.ts
  frontend/src/lib/badge-variants.ts
  frontend/src/lib/button-variants.ts
Labels: frontend, kubernetes, configuration, websocket

fix: improve security scan workflow reliability
  .github/workflows/security-scan.yml
Labels: kubernetes, configuration, security

fix: resolve remaining ESLint errors and security scan issues
  .github/workflows/security-scan.yml
  frontend/src/App.tsx
  frontend/src/hooks/useWebSocket.ts
Labels: frontend, kubernetes, configuration, websocket, security

fix: resolve staticcheck SA4022 error in root_test.go
  cmd/kubepulse/commands/root_test.go
Labels: backend, tests, cli

fix: resolve ESLint errors in frontend code
  frontend/src/App.tsx
  frontend/src/hooks/useWebSocket.ts
Labels: frontend, websocket

fix: remove unused MetricLabels interface causing ESLint error
  frontend/src/App.tsx
Labels: frontend

fix: ensure gosec binary is available in PATH for GitHub Actions
  .github/workflows/security-scan.yml
Labels: kubernetes, configuration, security

fix: complete useCallback syntax for connect function in useWebSocket
  frontend/src/hooks/useWebSocket.ts
Labels: frontend, websocket

fix: resolve lint errors and CI issues across multiple workflows
  .github/workflows/security-scan.yml
  cmd/kubepulse/commands/root_test.go
  cmd/kubepulse/main_test.go
  frontend/src/App.tsx
  frontend/src/hooks/useWebSocket.ts
  pkg/api/server_test.go
Labels: backend, frontend, kubernetes, tests, configuration, api, cli, websocket, security

fix: resolve critical CI workflow failures in security scan and performance benchmarks
  .github/workflows/ci.yml
  .github/workflows/security-scan.yml
Labels: kubernetes, configuration, security

feat: add comprehensive test coverage to reach 30%+ threshold
  pkg/ai/assistant_test.go
  pkg/ai/client_test.go
  pkg/ai/smart_alerts_test.go
  pkg/api/ai_handlers_simple_test.go
  pkg/core/engine_test.go
Labels: backend, ai, tests, api, core

fix: resolve critical CI workflow failures in security scan and performance benchmarks
  .claude/AGENT_CLASSIFICATION.md
  .claude/agents/backend-developer.md
  .claude/agents/frontend-developer.md
  .claude/agents/pre-commit-reviewer.md
  .claude/agents/product-requirements-analyst.md
  .claude/agents/qa-testing-specialist.md
  .claude/agents/security-compliance-auditor.md
  .claude/agents/sre-devops-specialist.md
  .claude/commands/agents-info.md
  .claude/commands/design.md
  .claude/hooks/auto-delegate-agent.sh
  .claude/hooks/pre-ship-workflow.sh
  .claude/settings.json
  .github/workflows/ci.yml
  Makefile
  cmd/kubepulse/commands/diagnose.go
  pkg/ai/assistant_test.go
  pkg/ai/client.go
  pkg/ai/client_test.go
  pkg/ai/smart_alerts_test.go
  pkg/api/ai_handlers_simple_test.go
Labels: backend, ai, kubernetes, documentation, tests, configuration, api, cli

fix: update AI test expectations to work with TestMode implementation
  pkg/ai/assistant_test.go
  pkg/ai/client.go
  pkg/ai/client_test.go
Labels: backend, ai, tests

fix: resolve all CI failures for linting and security scans
  cmd/kubepulse/commands/root_test.go
  cmd/kubepulse/main_test.go
  internal/config/config.go
  internal/config/config_test.go
  pkg/ai/assistant_test.go
  pkg/ai/client.go
  pkg/ai/client_test.go
  pkg/ai/smart_alerts_test.go
  pkg/api/ai_handlers_simple_test.go
  pkg/core/engine_test.go
  pkg/health/pod_check.go
Labels: backend, ai, tests, api, core, cli, health

fix: resolve remaining CI failures in backend tests and security scan
  .github/workflows/ci.yml
  pkg/api/ai_handlers.go
Labels: backend, kubernetes, configuration, api

fix: resolve final CI issues - formatting, PATH, and missing action
  .github/workflows/ci.yml
  pkg/api/ai_handlers.go
Labels: backend, kubernetes, configuration, api

fix: improve Security Scan debugging with better error handling and SARIF validation
  .github/workflows/ci.yml
Labels: kubernetes, configuration

.github/labeler.yml:

# Label configuration for PR auto-labeling

# Backend changes
backend:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.go'
      - 'go.mod'
      - 'go.sum'

# Frontend changes
frontend:
  - changed-files:
    - any-glob-to-any-file:
      - 'frontend/**/*'
      - 'package.json'
      - 'package-lock.json'

# AI-related changes
ai:
  - changed-files:
    - any-glob-to-any-file:
      - 'pkg/ai/**/*'
      - 'internal/ai/**/*'

# Kubernetes/deployment changes
kubernetes:
  - changed-files:
    - any-glob-to-any-file:
      - 'deployments/**/*'
      - '**/*.yaml'
      - '**/*.yml'
      - '**/Dockerfile*'

# Documentation changes
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - '**/*.MD'
      - 'docs/**/*'

# Test changes
tests:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*_test.go'
      - '**/*.test.ts'
      - '**/*.test.tsx'
      - '**/*.spec.ts'
      - '**/*.spec.tsx'
      - '**/testdata/**/*'

# Configuration changes
configuration:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*'
      - '.*rc'
      - '.*config*'
      - 'config/**/*'

# API changes
api:
  - changed-files:
    - any-glob-to-any-file:
      - 'pkg/api/**/*'
      - 'internal/api/**/*'
      - '**/handlers.go'
      - '**/routes.go'

# Core engine changes
core:
  - changed-files:
    - any-glob-to-any-file:
      - 'pkg/core/**/*'
      - 'internal/core/**/*'
      - 'pkg/engine/**/*'

# CLI changes
cli:
  - changed-files:
    - any-glob-to-any-file:
      - 'cmd/**/*'
      - 'internal/cli/**/*'

# Health check changes
health:
  - changed-files:
    - any-glob-to-any-file:
      - 'pkg/health/**/*'
      - 'pkg/checks/**/*'
      - 'internal/health/**/*'

# WebSocket changes
websocket:
  - changed-files:
    - any-glob-to-any-file:
      - '**/websocket*.go'
      - '**/ws*.go'
      - 'frontend/src/hooks/useWebSocket.ts'

# Database changes
database:
  - changed-files:
    - any-glob-to-any-file:
      - '**/database*.go'
      - '**/db*.go'
      - '**/*.sql'
      - 'migrations/**/*'

# Security changes
security:
  - changed-files:
    - any-glob-to-any-file:
      - '**/auth*.go'
      - '**/security*.go'
      - '**/rbac*.go'
      - '.github/workflows/*security*'
