Repository charles-adedotun/kubepulse, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, ai, kubernetes, documentation, tests, configuration, api, core, cli, health, websocket, database, security

docs: update GitHub automation README (#30)
  .github/README.md
Labels: documentation, configuration

ci: disable Claude review workflow
  .github/CI-README.md
  .github/CI-SETUP.md
  .github/README.md
  .github/scripts/claude-review.sh
  .github/scripts/generate-merge-prompt.sh
  .github/scripts/generate-todo-list.sh
  .github/scripts/pr-decision-matrix.sh
  .github/workflows/claude-review.yml
  README.md
  docs/github-workflows.md
Labels: kubernetes, documentation, configuration

ci: disable Claude review workflow (#31)
  .github/CI-README.md
  .github/CI-SETUP.md
  .github/README.md
  .github/scripts/claude-review.sh
  .github/scripts/generate-merge-prompt.sh
  .github/scripts/generate-todo-list.sh
  .github/scripts/pr-decision-matrix.sh
  .github/workflows/claude-review.yml
  README.md
  docs/github-workflows.md
Labels: kubernetes, documentation, configuration

Update frontend Vite dependency range
  frontend/package-lock.json
  frontend/package.json
Labels: frontend

Update frontend Vite dependency range (#32)
  frontend/package-lock.json
  frontend/package.json
Labels: frontend

Add Dependabot hygiene config
  .github/dependabot.yml
Labels: kubernetes, configuration

Add Dependabot hygiene config (#33)
  .github/dependabot.yml
Labels: kubernetes, configuration

ci: align Go toolchain for dependency bump
  go.mod
Labels: backend

ci: align Go toolchain for dependency bump
  Dockerfile
Labels: kubernetes

fix: silence TypeScript baseUrl deprecation
  frontend/tsconfig.json
Labels: frontend

ci: align Go CI version with module directive
  .github/workflows/core-ci.yml
Labels: kubernetes, configuration

fix: update ESLint flat config for dependency bump
  frontend/eslint.config.js
Labels: frontend

fix: use stable React Hooks lint rules
  frontend/eslint.config.js
Labels: frontend

fix: keep React Compiler lint opt-in
  frontend/eslint.config.js
Labels: frontend

fix: support Tailwind 4 build
  frontend/package.json
Labels: frontend

fix: support Tailwind 4 build
  frontend/package-lock.json
Labels: frontend

fix: support Tailwind 4 build
  frontend/postcss.config.js
Labels: frontend

fix: support Tailwind 4 build
  frontend/src/index.css
Labels: frontend

ci: align frontend dependency PR with current pipeline
  .github/workflows/core-ci.yml
Labels: kubernetes, configuration

.github/labeler.yml:

# Label configuration for PR auto-labeling

# Backend changes
backend:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.go'
      - 'go.mod'
      - 'go.sum'

# Frontend changes
frontend:
  - changed-files:
    - any-glob-to-any-file:
      - 'frontend/**/*'
      - 'package.json'
      - 'package-lock.json'

# AI-related changes
ai:
  - changed-files:
    - any-glob-to-any-file:
      - 'pkg/ai/**/*'
      - 'internal/ai/**/*'

# Kubernetes/deployment changes
kubernetes:
  - changed-files:
    - any-glob-to-any-file:
      - 'deployments/**/*'
      - '**/*.yaml'
      - '**/*.yml'
      - '**/Dockerfile*'

# Documentation changes
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - '**/*.MD'
      - 'docs/**/*'

# Test changes
tests:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*_test.go'
      - '**/*.test.ts'
      - '**/*.test.tsx'
      - '**/*.spec.ts'
      - '**/*.spec.tsx'
      - '**/testdata/**/*'

# Configuration changes
configuration:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*'
      - '.*rc'
      - '.*config*'
      - 'config/**/*'

# API changes
api:
  - changed-files:
    - any-glob-to-any-file:
      - 'pkg/api/**/*'
      - 'internal/api/**/*'
      - '**/handlers.go'
      - '**/routes.go'

# Core engine changes
core:
  - changed-files:
    - any-glob-to-any-file:
      - 'pkg/core/**/*'
      - 'internal/core/**/*'
      - 'pkg/engine/**/*'

# CLI changes
cli:
  - changed-files:
    - any-glob-to-any-file:
      - 'cmd/**/*'
      - 'internal/cli/**/*'

# Health check changes
health:
  - changed-files:
    - any-glob-to-any-file:
      - 'pkg/health/**/*'
      - 'pkg/checks/**/*'
      - 'internal/health/**/*'

# WebSocket changes
websocket:
  - changed-files:
    - any-glob-to-any-file:
      - '**/websocket*.go'
      - '**/ws*.go'
      - 'frontend/src/hooks/useWebSocket.ts'

# Database changes
database:
  - changed-files:
    - any-glob-to-any-file:
      - '**/database*.go'
      - '**/db*.go'
      - '**/*.sql'
      - 'migrations/**/*'

# Security changes
security:
  - changed-files:
    - any-glob-to-any-file:
      - '**/auth*.go'
      - '**/security*.go'
      - '**/rbac*.go'
      - '.github/workflows/*security*'
