Repository charles-adedotun/kubepulse, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, ai, kubernetes, documentation, tests, configuration, api, core, cli, health, websocket, database, security

fix: resolve gosec PATH issue by using environment variable and improving error handling
  .github/workflows/ci.yml
Labels: kubernetes, configuration

fix: add robust gosec installation with fallback method and detailed debugging
  .github/workflows/ci.yml
Labels: kubernetes, configuration

fix: use direct go install for gosec installation with proper package path
  .github/workflows/ci.yml
Labels: kubernetes, configuration

fix: remove GOPROXY setting from security scan workflow to resolve gosec installation issues
  .github/workflows/security-scan.yml
Labels: kubernetes, configuration, security

fix: replace staticcheck action with direct go install approach
  .github/workflows/security-scan.yml
Labels: kubernetes, configuration, security

fix: simplify security scan workflow to focus on essential tools
  .github/workflows/security-scan.yml
Labels: kubernetes, configuration, security

fix: improve error handling in security scan workflow
  .github/workflows/security-scan.yml
Labels: kubernetes, configuration, security

fix: temporarily skip gosec installation to resolve CI blocking issue
  .github/workflows/security-scan.yml
Labels: kubernetes, configuration, security

fix: temporarily disable security scan workflow for PRs
  .github/workflows/security-scan.yml
Labels: kubernetes, configuration, security

fix: properly disable security scan workflow for pull requests
  .github/workflows/security-scan.yml
Labels: kubernetes, configuration, security

chore: add gosec security scan results file
  gosec-results.sarif
Labels: none

fix: resolve CI workflow failures and security scan configuration issues
  .github/workflows/ci.yml
  .github/workflows/merge-decision.yml
  .github/workflows/security-scan.yml
  .gitignore
  .gosec.json
  gosec-results.sarif
Labels: kubernetes, configuration, security

fix: resolve CI security scan failures and vulnerabilities
  .github/workflows/security-scan.yml
  pkg/ai/executor.go
  pkg/api/server.go
Labels: backend, ai, kubernetes, configuration, api, security

fix: format Go code to resolve lint issues
  pkg/ai/executor.go
  pkg/api/server.go
Labels: backend, ai, api

fix: resolve workflow failures in CI and merge decision
  .github/workflows/ci.yml
  .github/workflows/merge-decision.yml
Labels: kubernetes, configuration

fix: prevent infinite wait-for-checks loop by excluding self-referential workflows
  .github/workflows/merge-decision.yml
Labels: kubernetes, configuration

fix: replace failing Claude Code Review action with mock implementation
  .github/workflows/claude-code-review.yml
Labels: kubernetes, configuration

fix: correct YAML syntax error in Claude review workflow
  .github/workflows/claude-code-review.yml
Labels: kubernetes, configuration

fix: correct GitHub Actions condition syntax in Claude review workflow
  .github/workflows/claude-code-review.yml
Labels: kubernetes, configuration

feat: complete CI/CD revamp - simplified and focused architecture
  .github/CI-SETUP.md
  .github/workflows/ci.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/claude-review.yml
  .github/workflows/claude.yml
  .github/workflows/core-ci.yml
  .github/workflows/frontend-ci.yml
  .github/workflows/merge-decision.yml
  .github/workflows/minimal-ci.yml
  .github/workflows/performance.yml
  .github/workflows/security-scan.yml
Labels: kubernetes, documentation, configuration, security

update: use latest claude-code-action v0.0.44 instead of beta
  .github/workflows/claude-review.yml
Labels: kubernetes, configuration

docs: update README with comprehensive documentation
  README.md
Labels: documentation

docs: fix git clone URL placeholder in README
  README.md
Labels: documentation

feat(demo): add docker-compose.yml for local development
  docker-compose.yml
Labels: kubernetes

docs(readme): rewrite quickstart to match actual repo structure
  README.md
Labels: documentation

docs(readme): add CI badge
  README.md
Labels: documentation

docs: harden Kubernetes platform signal
  .github/workflows/core-ci.yml
  .github/workflows/release.yml
  README.md
  deploy/kubernetes/base/kustomization.yaml
  deploy/kubernetes/production/kustomization.yaml
  deploy/kubernetes/staging/kustomization.yaml
  docker-compose.yml
  frontend/README.md
  frontend/package-lock.json
  frontend/package.json
Labels: frontend, kubernetes, documentation, configuration

fix: bound async remediation learning context
  pkg/ai/remediation.go
Labels: backend, ai

chore: update Go baseline to 1.25.9
  .github/workflows/core-ci.yml
  .github/workflows/release.yml
  Dockerfile
  README.md
  go.mod
Labels: backend, kubernetes, documentation, configuration

docs: harden Kubernetes platform signal (#26)
  .github/workflows/core-ci.yml
  .github/workflows/release.yml
  Dockerfile
  README.md
  deploy/kubernetes/base/kustomization.yaml
  deploy/kubernetes/production/kustomization.yaml
  deploy/kubernetes/staging/kustomization.yaml
  docker-compose.yml
  frontend/README.md
  frontend/package-lock.json
  frontend/package.json
  go.mod
  pkg/ai/remediation.go
Labels: backend, frontend, ai, kubernetes, documentation, configuration

fix(ai): remove broken sanitizePrompt; rely on argv-form exec for injection safety
  .gitignore
  coverage-new.txt
  coverage.txt
  coverage_ai.txt
  coverage_api.txt
  coverage_commands.txt
  coverage_config.txt
  coverage_main.txt
  pkg/ai/client.go
  pkg/ai/client_test.go
Labels: backend, ai, tests

fix(ai): remove broken sanitizePrompt; rely on argv-form exec for injection safety (#27)
  .gitignore
  coverage-new.txt
  coverage.txt
  coverage_ai.txt
  coverage_api.txt
  coverage_commands.txt
  coverage_config.txt
  coverage_main.txt
  pkg/ai/client.go
  pkg/ai/client_test.go
Labels: backend, ai, tests

ci: bump golangci-lint to v6 + Go 1.25.10 + x/net v0.53.0
  .github/workflows/core-ci.yml
  go.mod
  go.sum
Labels: backend, kubernetes, configuration

ci: fix golangci-lint - action@v7 + linter v2.12.2 (Go 1.25 support)
  .github/workflows/core-ci.yml
Labels: kubernetes, configuration

fix(ai): use fmt.Fprintf instead of WriteString(Sprintf)
  pkg/ai/client.go
Labels: backend, ai

build: bump Dockerfile golang to 1.25.10 to match go.mod
  Dockerfile
Labels: kubernetes

ci: fix golangci-lint version mismatch + bump Go + x/net for vuln fixes (#28)
  .github/workflows/core-ci.yml
  Dockerfile
  go.mod
  go.sum
  pkg/ai/client.go
Labels: backend, ai, kubernetes, configuration

docs: make KubePulse README product-first
  README.md
  docs/github-workflows.md
Labels: documentation

docs: make KubePulse README product-first (#29)
  README.md
  docs/github-workflows.md
Labels: documentation

docs: update GitHub automation README
  .github/README.md
Labels: documentation, configuration

.github/labeler.yml:

# Label configuration for PR auto-labeling

# Backend changes
backend:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.go'
      - 'go.mod'
      - 'go.sum'

# Frontend changes
frontend:
  - changed-files:
    - any-glob-to-any-file:
      - 'frontend/**/*'
      - 'package.json'
      - 'package-lock.json'

# AI-related changes
ai:
  - changed-files:
    - any-glob-to-any-file:
      - 'pkg/ai/**/*'
      - 'internal/ai/**/*'

# Kubernetes/deployment changes
kubernetes:
  - changed-files:
    - any-glob-to-any-file:
      - 'deployments/**/*'
      - '**/*.yaml'
      - '**/*.yml'
      - '**/Dockerfile*'

# Documentation changes
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - '**/*.MD'
      - 'docs/**/*'

# Test changes
tests:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*_test.go'
      - '**/*.test.ts'
      - '**/*.test.tsx'
      - '**/*.spec.ts'
      - '**/*.spec.tsx'
      - '**/testdata/**/*'

# Configuration changes
configuration:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*'
      - '.*rc'
      - '.*config*'
      - 'config/**/*'

# API changes
api:
  - changed-files:
    - any-glob-to-any-file:
      - 'pkg/api/**/*'
      - 'internal/api/**/*'
      - '**/handlers.go'
      - '**/routes.go'

# Core engine changes
core:
  - changed-files:
    - any-glob-to-any-file:
      - 'pkg/core/**/*'
      - 'internal/core/**/*'
      - 'pkg/engine/**/*'

# CLI changes
cli:
  - changed-files:
    - any-glob-to-any-file:
      - 'cmd/**/*'
      - 'internal/cli/**/*'

# Health check changes
health:
  - changed-files:
    - any-glob-to-any-file:
      - 'pkg/health/**/*'
      - 'pkg/checks/**/*'
      - 'internal/health/**/*'

# WebSocket changes
websocket:
  - changed-files:
    - any-glob-to-any-file:
      - '**/websocket*.go'
      - '**/ws*.go'
      - 'frontend/src/hooks/useWebSocket.ts'

# Database changes
database:
  - changed-files:
    - any-glob-to-any-file:
      - '**/database*.go'
      - '**/db*.go'
      - '**/*.sql'
      - 'migrations/**/*'

# Security changes
security:
  - changed-files:
    - any-glob-to-any-file:
      - '**/auth*.go'
      - '**/security*.go'
      - '**/rbac*.go'
      - '.github/workflows/*security*'
